/* место для вашего кода */
@import url(./global.css);

.body {
    width: 1100px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 92px 24px 96px;
    height: 105px;
}

.header__menu {
    display: flex;
    justify-content: space-around;
}

.header__links-list {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 28px;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__link {
    text-decoration: none;
}

.header__link_active {
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.no-marker__item {
    list-style-type: none;
}

.header__logo {
    display: flex;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    margin: 0 25px;
    justify-self: end;
    text-align: start;
    padding-top: 5px;
    padding-bottom: 2px;
    width: 240px;
}

.header__address {
    line-height: 24px;
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    top: 0;
    left: 0;
    background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .cover__title {
    position: absolute;
    height: 355px;
    width: 1000px;
    margin: 165px 50px 237px;
    font-size: 100px;
    font-weight: 700;
    line-height: 123px;
    color: #fff;
    z-index: 2;
  }

  .aligned-text {
    display: block;
  }

  .aligned-text_center {
    text-align: center;
  }

.aligned-text_right {
    text-align: right;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
   display: flex;
   justify-content: space-around;
   z-index: 2;
}

.cover__description-text {
    position: relative;
    top: 667px;
    font-weight: 400;
    width: 637px;
    line-height: 28px;
    font-size: 22px;
    color: #FFFFFF;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    position: relative;
    top: 655px;
    box-sizing: border-box;
    height: 51px;
    width: 256px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.lots {
    margin: 179px 24px 146px;
    width: 1052px;
    min-height: 692px;
}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 40px;
    line-height: 47px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    flex-basis: 334px;
    flex-grow: 1;
}


.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 334px;
    min-height: 563px;
    z-index: 0;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay__card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card__title {
    margin-top: 51px;
   /* position: absolute;*/
    width: 254px;
   /*  left: 40px;*/
   /*  top: 51px;*/
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
}

.card__text {
    margin-bottom: 48px;
    width: 254px;
    height: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 2;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lots__look-more-link {
    display: block;
    margin: 30px 40px 2px;
    width: 192px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    border-bottom: 1px #000 solid;
}
