/* Сделала шапку грид сеткой из 3-колонок, также задала размеры, размеры шрифтов */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 91px 24px 94px;
  color: #000;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

/* Сделала меню навигации флексом для строчного отображения */
.header__menu {
  display: flex;
  justify-content: space-around;
}

.header__links-list {
  display: flex;
  gap: 32px;
  align-self: center;
  margin-right: 10px;
}

/* Добавила стиль маркера - круг */
.header__links-list-item {
  list-style-type: circle;
}

.link_active {
  text-decoration: none;
}
/* Отображение линии ниже стандартого положения */
.link {
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

.no-marker__item {
  list-style-type: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  width: 240px;
  font-style: normal;
  line-height: 24px;
  text-align: start;
}

.header__address {
  margin: 0 25px;
  padding-top: 5px;
  padding-bottom: 2px;
}

/* Задала секции относительное позиционирование, фон и размеры */
.cover {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Задала оверлею абсолютное позиционирование, цвет и размеры */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Задала заголовку относительное позиционирование, отступы и размеры шрифта */
.cover__title {
  position: relative;
  z-index: 2;
  padding: 165px 50px 235px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

/* Задала буквам блочный тип, расстояние между буквами, высоту и положение */
.aligned-text {
  display: block;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text_center {
  display: block;
  line-height: 139px;
  letter-spacing: 0.3em;
  text-align: center;
}

.aligned-text_right {
  display: block;
  line-height: 100px;
  letter-spacing: 0.3em;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* Задала нижней части секции относительное позицонирование, сделала флексом, чтобы задать положение текстовой части и кнопке*/
.cover__description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -100px 0;
}

.cover__description-text {
  z-index: 2;
  display: flex;
  width: 640px;
  margin-left: 27px;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  margin-left: 29px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Raleway, 'Arial', 'Helvetica', sans-serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

/* Задала секции размеры и отступы */
.lots {
  width: 1052px;
  margin: 179px 24px 146px;
}

/* Задала заголовку размеры шрифта и  отступы */
.lots__heading {
  padding-bottom: 26px;
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

/* Карточки распредлила флексом и задала им свойство, чтобы новые карточки переносились вниз по заданной ширине */
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 334px;
  justify-content: start;
  gap: 25px;
  list-style-type: none;
}

/* Сделала ссылку блочной и убрала подчеркивание */
.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

/* Задала карточкам относительное позиционирование, чтобы наложить оверлей. Также сделала их флексом, чтобы раместить содержимое равномерно по заданной высоте */
.card {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

/* Задала заголовку карточки размеры, размеры шрифта, цвет, отступы */
.card__title {
  z-index: 2;
  width: 254px;
  margin-top: 51px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

/* Задала для содержимого карточки размеры, размеры шрифта, цвет и отступы */
.card__text {
  z-index: 2;
  width: 254px;
  height: 100%;
  margin-bottom: 48px;
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* Сделала ссылку блочной, убрала подчеркивание, задала отступы и размеры */
.lots__look-more-link {
  display: block;
  margin: 30px 40px 2px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

/* Ограничила нижнюю границу по длине текста */
.border__options {
  border-bottom: 1px #000 solid;
}

/* Сделала всю секцию гридом, первой колонке задала фиксированное значение равное ширине карточки сверху. Первой строке также фиксированное значение задала, чтобы центрировать логотип в ее пределах */
.about {
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 275px 1fr;
  column-gap: 20px;
  width: 1052px;
  height: 100%;
  margin: 140px 23px 180px;
  padding-bottom: 321px;
}

/* Для колонки сделала флекс, чтобы задать положение параграфам */
.about__column {
  display: flex;
  flex-direction: column;
  gap: 43px;
  align-self: flex-start;
  color: #000000;
}

/* Для логотипа сделала флекс, чтобы задать центрировать его */
.about__logo {
  display: flex;
  align-items: center;
  align-self: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 240px;
  height: 115px;
}

/* Здадала заголовку размеры, размеры шрифта и отступы */
.about__title {
  padding: 140px 0 54px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

/* Для параграфов сделала флекс, чтобы задать отступ только первому */
.about-text__all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text {
  width: 688px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Для подвала сделала грид сетку из 3-х колонок, также указала рамзеры, ращмеры шрифта, цвет и отступы*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  margin: 180px 50px 88px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  text-decoration: none;
}

/* Адресу задала положение начала*/
.footer__adress {
  justify-self: start;
  text-decoration: none;
}

/* Меню навигации центрировала*/
.footer__menu {
  justify-self: center;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link .link_active {
  border-bottom: 1px #000 solid;
  text-decoration: none;
}

/* Списки ссылок расположила горизонтально с помощью флекса и задала*/
.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
